input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  outline: none;
  padding: 4px;
  border-radius: 2px;
  border: 1px solid darkgrey;
  margin-top: 1px;
}
.entire-field {
  margin: 4px;
}
.field-title {
  font-weight: 500;
}
